<h1>Listing ideas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ideas.each do |idea| %>
  <div>
    <p><%= image_tag(idea.picture_url, :width => 100) if idea.picture.present? %></p>
    <h1><%= idea.name %></h1>
    <h2><%= idea.description %></h2>
    <ul>
      <li><%= link_to 'Show', idea %></li>
      <li><%= link_to 'Edit', edit_idea_path(idea) %></li>
      <li><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </div>
<% end %>


<br />

<%= link_to 'New Idea', new_idea_path %>
